<html>
  <body>
    <div
      style="
        font-family: Helvetica, Arial, sans-serif;
        min-width: 1000px;
        overflow: auto;
        line-height: 2;
      "
    >
      <div style="margin: 50px auto; width: 70%; padding: 20px 0">
        <div
          style="
            border-bottom: 1px solid #eee;
            display: flex;
            justify-content: space-between;
          "
        >
          <img
            src="https://theweedoc.s3.ap-south-1.amazonaws.com/theweedoc_templates/email_template.jpg"
            style="width: 5%; height: 5%"
          />
          <h1
            style="
              font-size: 1.4em;
              color: #00466a;
              font-weight: 700;
              margin-right: 40%;
            "
          >
            TheWeedoc
          </h1>
        </div>
        <p style="font-size: 1.1em">Hello,</p>
        <p>
          Thanks for selecting our services! To access your account securely,
          kindly utilize the provided OTP. We're here to ensure your experience
          is seamless and secure.
        </p>
        <h2
          style="
            background: grey;
            margin: 0 auto;
            width: max-content;
            padding: 0 10px;
            color: black;
            border-radius: 4px;
          "
        >
          {{otp}}
        </h2>
        <p style="font-size: 0.9em">Regards,<br />TheWeedoc</p>
        <hr style="border: none; border-top: 1px solid #eee" />
        <div
          style="
            float: right;
            padding: 8px 0;
            color: #aaa;
            font-size: 0.8em;
            line-height: 1;
            font-weight: 300;
          "
        >
          <p></p>
          <p></p>
        </div>
      </div>
    </div>
  </body>
</html>
